:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal-overlay-color: rgba(46, 47, 66, 0.4); /* #2E2F42 opacity: 0.4; */
    --hero-background-color: rgba(46, 47, 66, 0.7); /* #2E2F42 opacity: 0.7; */
    --white-color: #ffffff;
    --modal-background-color: #fcfcfc;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: var(--white-color);
    color: var(--text-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.hide-title {
    display: none;
}

/* Logo */
.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}
.logo-color {
    color: var(--dark-color);
}
.logo-white {
    color: var(--light-color);
}

/* Navigation */
.site-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.site-nav .link.current {
    color: var(--pressed-state-color);
}
.contact-nav .link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--pressed-state-color);
}
.address {
    font-style: normal;
}

/* Section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

/* Hero */
.hero {
    background: var(--dark-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

/* Features */
.feature-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.feature-list .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* Team */
.team {
    background: var(--light-color);
}
.team-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.team-list .text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.team-item {
    background: var(--white-color);
}

/* Portfolio */
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* Button */
.button {
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-action {
    background: var(--primary-brand-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}
.button-action:hover,
.button-action:focus {
    background: var(--pressed-state-color);
}
.button-primary {
    background: var(--pressed-state-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-secondary {
    background: var(--light-color);
    color: var(--primary-brand-color);
    border: 1px solid var(--accent-color);
}
.button-secondary:hover,
.button-secondary:focus {
    background: var(--pressed-state-color);
    color: var(--white-color);
}

/* Footer */
.footer {
    background: var(--dark-color);
}
.footer .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--light-color);
}
